[user]
	name = mikaelec
	email = mikaelec@gmail.com
[core]
	autocrlf = true
#	editor = atom --wait
	editor = vim
[credential]
	helper = cache
[pull]
	rebase = true
[merge]
	ff = false
[push]
	default = current
[alias]
	flog = log --pretty=format:'%C(yellow)%h %C(red)%ad %C(cyan)%x09%an%x09%C(green)%d %C(white)%s' --date=relative --graph --all
	ss = status -s
	aa = add -A
	ca = commit --amend --no-edit
	llog = !"watch --interval 1 --color \"git --no-pager flog | less -R\""
[color]
	ui = always
