"*":
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "1ec395bb-80d0-6291-23be-6ac2f531de6c"
  "git-log": {}
  "keyboard-localization":
    useKeyboardLayout: "da_DK"
  latex:
    alwaysOpenResultInAtom: true
    openResultAfterBuild: false
    openResultInBackground: false
    useMasterFileSearch: false
  "linter-chktex": {}
  "linter-gcc": {}
  minimap: {}
  "pdf-view":
    reverseSyncBehaviour: "Double click"
  "spell-check":
    grammars: [
      "text.tex.latex"
    ]
  tabs:
    enableVcsColoring: true
    tabScrolling: false
    usePreviewTabs: true
  "terminal-panel": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".jade.source":
  editor:
    tabLength: 4
