"*":
  core:
    closeEmptyWindows: false
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "1ec395bb-80d0-6291-23be-6ac2f531de6c"
  "keyboard-localization":
    useKeyboardLayout: "da_DK"
  latex: {}
  minimap: {}
  "spell-check":
    grammars: [
      "text.tex.latex"
    ]
  tabs:
    enableVcsColoring: true
    tabScrolling: false
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".jade.source":
  editor:
    tabLength: 4
