'.text.tex.latex':
  'Fancy quotes':
    'prefix': 'quot'
    'body': '``$1\'\''
  'Beamer frame':
    'prefix': 'frame'
    'body': """\\\\begin{frame}
\t\\\\frametitle{${1:Frame Title}}
\t$2
\\\\end{frame}
"""
  'Point to root file':
    'prefix': 'texroot'
    'body': '% !TEX root = $1'
